.task {
  margin-bottom: 16px;
  background-color: #E6E9ED;
  border: 1px solid #CCD1D9;
  border-radius: 4px;
  font-size: 22px;
  font-weight: bold;
  line-height: 32px;
  display: flex;

  .task-title {
    padding: 16px;
    flex: 1;
  }

  .status {
    width: 66px;
  }

  .remove {
    width: 66px;
    background-color: #DA4453;
    border: 1px solid #DA4453;
    border-left: 0;
    border-radius: 0 4px 4px 0;
    color: #FFFFFF;
    font-size: 32px;
    line-height: 48px;
  }

  &.todo {
    .task-title {

    }

    .status {
      background-color: #DA4453;
    }
  }

  &.done {
    .task-title {
      font-style: italic;
      text-decoration: line-through #656D78;
      color: #AAB2BD;
    }

    .status {
      background-color: #4A89DC;
    }
  }
}
