.task {
    margin-bottom: 16px;
    background-color: #E6E9ED;
    border: 1px solid #CCD1D9;
    border-radius: 4px;
    font-size: 22px;
    font-weight: bold;
    line-height: 32px;
    display: flex;
}

.task .task-title {
    margin: 16px;
    flex: 1;
}

.task.todo .task-title {

}

.task.done .task-title {
    font-style: italic;
    text-decoration: line-through #656D78;
    color: #AAB2BD;
}

.task .status {
    width: 66px;
}

.task.todo .status {
    background-color: #DA4453;
}

.task.done .status {
    background-color: #4A89DC;
}