.task-input {
  margin-bottom: 16px;
  overflow: hidden;
  display: flex;

  .input {
    padding: 16px;
    border: 1px solid #AAB2BD;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    color: #434A54;
    font-size: 22px;
    line-height: 32px;
    flex: 1;

    &:hover {
      outline: none;
    }

    &:focus {
      @extend :hover;
    }

    &::placeholder {
      color: #AAB2BD;
    }
  }

  .submit {
    width: 66px;
    border: 1px solid #37BC9B;
    border-left: 0;
    border-radius: 0 4px 4px 0;
    font-size: 32px;
    line-height: 48px;
    background-color: #48CFAD;
    color: #FFFFFF;

    &:hover {
      outline: none;
    }

    &:focus {
      @extend :hover;
    }
  }
}
