$color-black: #000000;
$color-gray-darkest: #434A54;
$color-gray-darker: #656D78;
$color-gray-dark: #AAB2BD;
$color-gray-light: #CCD1D9;
$color-gray-lighter: #E6E9ED;
$color-gray-lightest: #F5F7FA;
$color-white: #FFFFFF;

$color-red-dark: #DA4453;
$color-red-light: #ED5565;

$color-blue-dark: #4A89DC;
$color-blue-light: #5D9CEC;

$color-green-dark: #8CC152;
$color-green-light: #A0D468;

$color-yellow-dark: #F6BB42;
$color-yellow-light: #FFCE54;
